{{#each this}}
  <li class='movie__card' data-action='{{id}}'>
    <div class='thumb'>
      <a href='https://image.tmdb.org/t/p/w500{{poster_path}}'>
        <img
          class='movie__poster'
          src='https://image.tmdb.org/t/p/w500{{poster_path}}'
          alt='{{title}} {{name}}'
          width='100%'
          data-id='{{id}}'
          onerror="this.onerror=null;this.src='https://sd.keepcalms.com/i-w600/keep-calm-poster-not-found.jpg';"
        /></a>

      <h2 class='movie__title'>{{title}} {{name}}</h2>
      <p class='movie__info'>
        <span>{{#each genres}} {{name}} {{/each}}</span>
        |
        <span class='movie__date'>{{release_date}}</span>
        <span class='card__vote_average'>{{vote_average}}</span>
      </p>
    </div>
  </li>
{{/each}}